.container {
    padding: 100px;
    padding-top: 0;
    position: relative;
    max-width: 60%;
}

.js-tooltip {
    position: absolute;
    top:30px;
    left: 100px;
    background-color: white;
    padding: 0.5em 1em;
    font-size: 0.75em;
    line-height: 1.5;
    display: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #888888;
}

.js-tooltip:hover {
    cursor: pointer;
}

svg {
    margin-bottom: 50px;
    display: table;
    margin: 0 auto;
    border: 3px solid black;
}

circle {
    opacity: 0.5;
    transition: r 3s ease, opacity 0.4s ease;
}

circle:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Readjust Buttons */
ul.readjust-svg-group {
    list-style: none;
    text-align: center;
    padding: 1em 0;
}

ul.readjust-svg-group li.readjust-svg {
    padding: 0.5em 1em;
    position: relative;
    display: inline-flex;
    flex: 1;
    border: 1px solid black;
    margin: 0.25em 0;
}

ul.readjust-svg-group li.readjust-svg:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Slider */
section.range-slider {
    position: relative;
    width: 100%;
    height: 35px;
    text-align: center;
    margin: 30px 0;
}

section.range-slider input {
    position: absolute;
    left: -16px;
    top: 15px;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 20px;
}

section.range-slider input::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 30px;
    border-radius: 20%;
    background: #000;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
    transition: box-shadow 0.4s ease;
    z-index: 1;
}

section.range-slider input::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 5px #888888;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
